body {
  background-image: url('images/home.jpg');
  background-size: cover;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.hover-animation {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-animation:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}